@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("LoginVerify", "Admin", FormMethod.Post, null))
{
    <div>
        @Html.Label("Enter Username")
        @Html.TextBox("name", "name")

    </div>
    <div>
        @Html.Label("Enter Password")
        @Html.Password("password", "password")

    </div>

    <input type="submit" value="Submit" name="LogOn" />
}
