html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}
html, body {
    width: auto !important;
  overflow-x: hidden !important;
 
}
body {
    /*background-color: black;*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    background-image: url('images/pexels-photo-93046 (1).jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: 5;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
    
}
#navigation {
        float: right;
        
    
}
.fixedposition {
    position: fixed;
}
/*.blogtitle {
    min-height: 100px;
    background-color: transparent;
}*/
 .posttitle{
      font-size: 1.75em;
     font-family: 'Special Elite', cursive;
     
    
}
 .datetab {
     
     font-size: 16px;
     padding-bottom: 10px;
     font-family: 'Special Elite', cursive;
     color: gold;

 }
 .contentBody{
     padding-top: 12px;
     font-family: 'Special Elite', cursive;
     text-align: justify;
     /*color:whitesmoke;*/
     color: wheat;
      
    
   
 }
 .postclass {
     background-color: black;
     opacity: 1;
    /*transition: opacity .25s ease-in-out;*/
     z-index: 15;
 }
 .commentssection {
     padding-top: 10px;
     
     margin-bottom: 30px
          
 }
 .postclass {
     margin-bottom: 15px
 }
 .commentbody {
     padding: 5px
 }
 .blogcontainer {
         /*width: 900px;
    margin: 0px auto;
    margin-bottom: 50px;
    float: none;*/
     /*background-color: #252525;*/
     opacity: 0.7;
     z-index: 10;
      
    
     
 }
.blogtitle {
    padding-top: 40px;
    margin-bottom: 40px;
    font-family: 'Special Elite', cursive;
    font-size: 80px;
    font-weight: 400;
    /*min-height: 300px;*/
    /*background-image: url('images/pexels-photo-92866.jpeg');*/
    /*background-image: url('images/backImg.jpg');*/
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
  color: black ;

    border-bottom: 2px solid whitesmoke;

}
 .mainContent {
     /*overflow-y: scroll;*/
     
     text-align: center;
    
 }
 .background-tint {
  background-color: rgba(200,100,0,.5); 

}
     .navigationclass {
        position: fixed;
    }
 .editable {
     color: whitesmoke;
     background-color: black;
     min-height: 400px !important;
      font-family: 'Roboto', sans-serif;
    font-size: large;
 }
 .editableTitle {
         min-width: 400px;
    /* min-zoom: initial; */
    min-height: 50px;
    margin-bottom: 30px;
    background-color: Black;
    color: whitesmoke;
    font-size: -webkit-xxx-large;
}
 .PageTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
     color: gold;
 }
 .publishButton {
     margin-top: 10px;
 }
 .postControl {
     float: left;
     margin-top: 50px;
     
 }
 .commentPost {
     /*background-color: whitesmoke;*/
 }
 .comments {
     overflow-y: scroll;
     max-height: 300px;
     
 }
 .indiComments {
     opacity: 0.9;
      border-radius: 25px;
    border: 2px solid #73AD21;
     margin-bottom: 2px;
     color: whitesmoke;
     width: 70%;
     font-size: 10px;
     font-family: 'Roboto', sans-serif;
     
 }
 .commentName {
     color: #3bafda;
     font-size: 14px;
    
 }
 .commentDate {
      
     font-size: 12px;
     
 }
 .CommentBox{
     margin-top: 50px;
          opacity: 0.9;
      border-radius: 5px;
    border: 2px solid #73AD21;
     margin-bottom: 2px;
     color: whitesmoke;
     width: 100%;
     font-size: 10px;
     font-family: 'Roboto', sans-serif;
 }
 #style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.glyphicon.glyphicon-off {
    font-size: 20px;
    color: black;
}
.glyphicon.glyphicon-pencil {
    font-size: 20px;
    color: black;
}
.glyphicon.glyphicon-home {
    font-size: 20px;
    color: black;
}
.homeicon {
    margin-top: 5px;
}
.Delete {
    float: left;
    
}
.loginclass {
    min-height: 300px;
    margin-bottom: 150px;
    padding-top: 100px;
    border: 2px solid whitesmoke;
        background-color: black;
    opacity: .7;
    /* transition: opacity .25s ease-in-out; */
    z-index: 15;
}
.fixbackground {
        background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
@media (max-width: 767px) {
    .blogtitle {
        padding-top: 0;
        margin-bottom: 10px;
        border: 2px solid red;
        font-size: 40px;
        font-weight: 200;
        background: whitesmoke;
       
    }
    .contentBody {
            padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    margin-right: 5px;
    }
    .navigationclass {
        position: relative;
    }
    .editableTitle {
        width: 100%;
        min-width: 0;
    }
    body {
        background-image: url('images/pexels-photo-93046 (1).jpeg');
        background-size: 100% 100%;
    }
.PNlinks {
    background-color: black;
}
