<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>blogLayout</title>
    <link href="~/Content/blogStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Special+Elite' rel='stylesheet' type='text/css'>

    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
</head>
<body>


    <div class="container ">
        <div id="navigation">
            <div class="row">

                <div class="float-right">
                    <p class="site-title">@Html.ActionLink("Login", "Login", "Admin")</p>
 


                </div>
            </div>



        </div>
        <div id="blogcontainer" class="blogcontainer fill-screen">
            <div id="blogTitle" class="blogtitle">
                <div class="row">
                    <div class="col-md-push-2 col-md-8 col-md-pull-2">
                        <span>Digital Nomad</span>
                    </div>
                </div>

            </div>

            <div class=" row">
                <div class="col-md-push-2 col-md-8 col-md-pull-2">
                    <section class="mainContent">
                        @RenderBody()
                    </section>

                </div>
            </div>
        </div>
    </div>



</body>
</html>
